    @keyframes cube-spin {
      0%, 100% {
        clip-path: polygon(50.00% 0.00%, 99.70% 25.00%, 99.70% 75.00%, 50.00% 100.00%, 0.30% 75.00%, 0.30% 25.00%);
        shape-outside: polygon(50.00% 0.00%, 99.70% 25.00%, 99.70% 75.00%, 50.00% 100.00%, 0.30% 75.00%, 0.30% 25.00%);
      }
      3.1250% {
        clip-path: polygon(61.20% 0.96%, 104.35% 33.93%, 93.15% 82.97%, 38.80% 99.04%, -4.35% 66.07%, 6.85% 17.03%);
        shape-outside: polygon(61.20% 0.96%, 104.35% 33.93%, 93.15% 82.97%, 38.80% 99.04%, -4.35% 66.07%, 6.85% 17.03%);
      }
      6.2500% {
        clip-path: polygon(71.96% 3.81%, 106.90% 43.47%, 84.94% 89.67%, 28.04% 96.19%, -6.90% 56.53%, 15.06% 10.33%);
        shape-outside: polygon(71.96% 3.81%, 106.90% 43.47%, 84.94% 89.67%, 28.04% 96.19%, -6.90% 56.53%, 15.06% 10.33%);
      }
      9.3750% {
        clip-path: polygon(81.88% 8.43%, 107.27% 53.27%, 75.38% 94.84%, 18.12% 91.57%, -7.27% 46.73%, 24.62% 5.16%);
        shape-outside: polygon(81.88% 8.43%, 107.27% 53.27%, 75.38% 94.84%, 18.12% 91.57%, -7.27% 46.73%, 24.62% 5.16%);
      }
      12.5000% {
        clip-path: polygon(90.58% 14.64%, 105.44% 62.94%, 64.85% 98.30%, 9.42% 85.36%, -5.44% 37.06%, 35.15% 1.70%);
        shape-outside: polygon(90.58% 14.64%, 105.44% 62.94%, 64.85% 98.30%, 9.42% 85.36%, -5.44% 37.06%, 35.15% 1.70%);
      }
      15.6250% {
        clip-path: polygon(97.72% 22.22%, 101.47% 72.11%, 53.75% 99.89%, 2.28% 77.78%, -1.47% 27.89%, 46.25% 0.11%);
        shape-outside: polygon(97.72% 22.22%, 101.47% 72.11%, 53.75% 99.89%, 2.28% 77.78%, -1.47% 27.89%, 46.25% 0.11%);
      }
      18.7500% {
        clip-path: polygon(103.02% 30.87%, 95.53% 80.44%, 42.51% 99.57%, -3.02% 69.13%, 4.47% 19.56%, 57.49% 0.43%);
        shape-outside: polygon(103.02% 30.87%, 95.53% 80.44%, 42.51% 99.57%, -3.02% 69.13%, 4.47% 19.56%, 57.49% 0.43%);
      }
      21.8750% {
        clip-path: polygon(106.29% 40.25%, 87.84% 87.59%, 31.55% 97.35%, -6.29% 59.75%, 12.16% 12.41%, 68.45% 2.65%);
        shape-outside: polygon(106.29% 40.25%, 87.84% 87.59%, 31.55% 97.35%, -6.29% 59.75%, 12.16% 12.41%, 68.45% 2.65%);
      }
      25.0000% {
        clip-path: polygon(107.39% 50.00%, 78.70% 93.30%, 21.30% 93.30%, -7.39% 50.00%, 21.30% 6.70%, 78.70% 6.70%);
        shape-outside: polygon(107.39% 50.00%, 78.70% 93.30%, 21.30% 93.30%, -7.39% 50.00%, 21.30% 6.70%, 78.70% 6.70%);
      }
      28.1250% {
        clip-path: polygon(106.29% 59.75%, 68.45% 97.35%, 12.16% 87.59%, -6.29% 40.25%, 31.55% 2.65%, 87.84% 12.41%);
        shape-outside: polygon(106.29% 59.75%, 68.45% 97.35%, 12.16% 87.59%, -6.29% 40.25%, 31.55% 2.65%, 87.84% 12.41%);
      }
      31.2500% {
        clip-path: polygon(103.02% 69.13%, 57.49% 99.57%, 4.47% 80.44%, -3.02% 30.87%, 42.51% 0.43%, 95.53% 19.56%);
        shape-outside: polygon(103.02% 69.13%, 57.49% 99.57%, 4.47% 80.44%, -3.02% 30.87%, 42.51% 0.43%, 95.53% 19.56%);
      }
      34.3750% {
        clip-path: polygon(97.72% 77.78%, 46.25% 99.89%, -1.47% 72.11%, 2.28% 22.22%, 53.75% 0.11%, 101.47% 27.89%);
        shape-outside: polygon(97.72% 77.78%, 46.25% 99.89%, -1.47% 72.11%, 2.28% 22.22%, 53.75% 0.11%, 101.47% 27.89%);
      }
      37.5000% {
        clip-path: polygon(90.58% 85.36%, 35.15% 98.30%, -5.44% 62.94%, 9.42% 14.64%, 64.85% 1.70%, 105.44% 37.06%);
        shape-outside: polygon(90.58% 85.36%, 35.15% 98.30%, -5.44% 62.94%, 9.42% 14.64%, 64.85% 1.70%, 105.44% 37.06%);
      }
      40.6250% {
        clip-path: polygon(81.88% 91.57%, 24.62% 94.84%, -7.27% 53.27%, 18.12% 8.43%, 75.38% 5.16%, 107.27% 46.73%);
        shape-outside: polygon(81.88% 91.57%, 24.62% 94.84%, -7.27% 53.27%, 18.12% 8.43%, 75.38% 5.16%, 107.27% 46.73%);
      }
      43.7500% {
        clip-path: polygon(71.96% 96.19%, 15.06% 89.67%, -6.90% 43.47%, 28.04% 3.81%, 84.94% 10.33%, 106.90% 56.53%);
        shape-outside: polygon(71.96% 96.19%, 15.06% 89.67%, -6.90% 43.47%, 28.04% 3.81%, 84.94% 10.33%, 106.90% 56.53%);
      }
      46.8750% {
        clip-path: polygon(61.20% 99.04%, 6.85% 82.97%, -4.35% 33.93%, 38.80% 0.96%, 93.15% 17.03%, 104.35% 66.07%);
        shape-outside: polygon(61.20% 99.04%, 6.85% 82.97%, -4.35% 33.93%, 38.80% 0.96%, 93.15% 17.03%, 104.35% 66.07%);
      }
      50.0000% {
        clip-path: polygon(50.00% 100.00%, 0.30% 75.00%, 0.30% 25.00%, 50.00% 0.00%, 99.70% 25.00%, 99.70% 75.00%);
        shape-outside: polygon(50.00% 100.00%, 0.30% 75.00%, 0.30% 25.00%, 50.00% 0.00%, 99.70% 25.00%, 99.70% 75.00%);
      }
      53.1250% {
        clip-path: polygon(38.80% 99.04%, -4.35% 66.07%, 6.85% 17.03%, 61.20% 0.96%, 104.35% 33.93%, 93.15% 82.97%);
        shape-outside: polygon(38.80% 99.04%, -4.35% 66.07%, 6.85% 17.03%, 61.20% 0.96%, 104.35% 33.93%, 93.15% 82.97%);
      }
      56.2500% {
        clip-path: polygon(28.04% 96.19%, -6.90% 56.53%, 15.06% 10.33%, 71.96% 3.81%, 106.90% 43.47%, 84.94% 89.67%);
        shape-outside: polygon(28.04% 96.19%, -6.90% 56.53%, 15.06% 10.33%, 71.96% 3.81%, 106.90% 43.47%, 84.94% 89.67%);
      }
      59.3750% {
        clip-path: polygon(18.12% 91.57%, -7.27% 46.73%, 24.62% 5.16%, 81.88% 8.43%, 107.27% 53.27%, 75.38% 94.84%);
        shape-outside: polygon(18.12% 91.57%, -7.27% 46.73%, 24.62% 5.16%, 81.88% 8.43%, 107.27% 53.27%, 75.38% 94.84%);
      }
      62.5000% {
        clip-path: polygon(9.42% 85.36%, -5.44% 37.06%, 35.15% 1.70%, 90.58% 14.64%, 105.44% 62.94%, 64.85% 98.30%);
        shape-outside: polygon(9.42% 85.36%, -5.44% 37.06%, 35.15% 1.70%, 90.58% 14.64%, 105.44% 62.94%, 64.85% 98.30%);
      }
      65.6250% {
        clip-path: polygon(2.28% 77.78%, -1.47% 27.89%, 46.25% 0.11%, 97.72% 22.22%, 101.47% 72.11%, 53.75% 99.89%);
        shape-outside: polygon(2.28% 77.78%, -1.47% 27.89%, 46.25% 0.11%, 97.72% 22.22%, 101.47% 72.11%, 53.75% 99.89%);
      }
      68.7500% {
        clip-path: polygon(-3.02% 69.13%, 4.47% 19.56%, 57.49% 0.43%, 103.02% 30.87%, 95.53% 80.44%, 42.51% 99.57%);
        shape-outside: polygon(-3.02% 69.13%, 4.47% 19.56%, 57.49% 0.43%, 103.02% 30.87%, 95.53% 80.44%, 42.51% 99.57%);
      }
      71.8750% {
        clip-path: polygon(-6.29% 59.75%, 12.16% 12.41%, 68.45% 2.65%, 106.29% 40.25%, 87.84% 87.59%, 31.55% 97.35%);
        shape-outside: polygon(-6.29% 59.75%, 12.16% 12.41%, 68.45% 2.65%, 106.29% 40.25%, 87.84% 87.59%, 31.55% 97.35%);
      }
      75.0000% {
        clip-path: polygon(-7.39% 50.00%, 21.30% 6.70%, 78.70% 6.70%, 107.39% 50.00%, 78.70% 93.30%, 21.30% 93.30%);
        shape-outside: polygon(-7.39% 50.00%, 21.30% 6.70%, 78.70% 6.70%, 107.39% 50.00%, 78.70% 93.30%, 21.30% 93.30%);
      }
      78.1250% {
        clip-path: polygon(-6.29% 40.25%, 31.55% 2.65%, 87.84% 12.41%, 106.29% 59.75%, 68.45% 97.35%, 12.16% 87.59%);
        shape-outside: polygon(-6.29% 40.25%, 31.55% 2.65%, 87.84% 12.41%, 106.29% 59.75%, 68.45% 97.35%, 12.16% 87.59%);
      }
      81.2500% {
        clip-path: polygon(-3.02% 30.87%, 42.51% 0.43%, 95.53% 19.56%, 103.02% 69.13%, 57.49% 99.57%, 4.47% 80.44%);
        shape-outside: polygon(-3.02% 30.87%, 42.51% 0.43%, 95.53% 19.56%, 103.02% 69.13%, 57.49% 99.57%, 4.47% 80.44%);
      }
      84.3750% {
        clip-path: polygon(2.28% 22.22%, 53.75% 0.11%, 101.47% 27.89%, 97.72% 77.78%, 46.25% 99.89%, -1.47% 72.11%);
        shape-outside: polygon(2.28% 22.22%, 53.75% 0.11%, 101.47% 27.89%, 97.72% 77.78%, 46.25% 99.89%, -1.47% 72.11%);
      }
      87.5000% {
        clip-path: polygon(9.42% 14.64%, 64.85% 1.70%, 105.44% 37.06%, 90.58% 85.36%, 35.15% 98.30%, -5.44% 62.94%);
        shape-outside: polygon(9.42% 14.64%, 64.85% 1.70%, 105.44% 37.06%, 90.58% 85.36%, 35.15% 98.30%, -5.44% 62.94%);
      }
      90.6250% {
        clip-path: polygon(18.12% 8.43%, 75.38% 5.16%, 107.27% 46.73%, 81.88% 91.57%, 24.62% 94.84%, -7.27% 53.27%);
        shape-outside: polygon(18.12% 8.43%, 75.38% 5.16%, 107.27% 46.73%, 81.88% 91.57%, 24.62% 94.84%, -7.27% 53.27%);
      }
      93.7500% {
        clip-path: polygon(28.04% 3.81%, 84.94% 10.33%, 106.90% 56.53%, 71.96% 96.19%, 15.06% 89.67%, -6.90% 43.47%);
        shape-outside: polygon(28.04% 3.81%, 84.94% 10.33%, 106.90% 56.53%, 71.96% 96.19%, 15.06% 89.67%, -6.90% 43.47%);
      }
      96.8750% {
        clip-path: polygon(38.80% 0.96%, 93.15% 17.03%, 104.35% 66.07%, 61.20% 99.04%, 6.85% 82.97%, -4.35% 33.93%);
        shape-outside: polygon(38.80% 0.96%, 93.15% 17.03%, 104.35% 66.07%, 61.20% 99.04%, 6.85% 82.97%, -4.35% 33.93%);
      }
    }

    @keyframes outline-spin {
      0%, 100% { clip-path: polygon(50.00% 0.00%, 99.70% 25.00%, 99.70% 75.00%, 50.00% 100.00%, 0.30% 75.00%, 0.30% 25.00%); }
      3.1250% { clip-path: polygon(61.20% 0.96%, 104.35% 33.93%, 93.15% 82.97%, 38.80% 99.04%, -4.35% 66.07%, 6.85% 17.03%); }
      6.2500% { clip-path: polygon(71.96% 3.81%, 106.90% 43.47%, 84.94% 89.67%, 28.04% 96.19%, -6.90% 56.53%, 15.06% 10.33%); }
      9.3750% { clip-path: polygon(81.88% 8.43%, 107.27% 53.27%, 75.38% 94.84%, 18.12% 91.57%, -7.27% 46.73%, 24.62% 5.16%); }
      12.5000% { clip-path: polygon(90.58% 14.64%, 105.44% 62.94%, 64.85% 98.30%, 9.42% 85.36%, -5.44% 37.06%, 35.15% 1.70%); }
      15.6250% { clip-path: polygon(97.72% 22.22%, 101.47% 72.11%, 53.75% 99.89%, 2.28% 77.78%, -1.47% 27.89%, 46.25% 0.11%); }
      18.7500% { clip-path: polygon(103.02% 30.87%, 95.53% 80.44%, 42.51% 99.57%, -3.02% 69.13%, 4.47% 19.56%, 57.49% 0.43%); }
      21.8750% { clip-path: polygon(106.29% 40.25%, 87.84% 87.59%, 31.55% 97.35%, -6.29% 59.75%, 12.16% 12.41%, 68.45% 2.65%); }
      25.0000% { clip-path: polygon(107.39% 50.00%, 78.70% 93.30%, 21.30% 93.30%, -7.39% 50.00%, 21.30% 6.70%, 78.70% 6.70%); }
      28.1250% { clip-path: polygon(106.29% 59.75%, 68.45% 97.35%, 12.16% 87.59%, -6.29% 40.25%, 31.55% 2.65%, 87.84% 12.41%); }
      31.2500% { clip-path: polygon(103.02% 69.13%, 57.49% 99.57%, 4.47% 80.44%, -3.02% 30.87%, 42.51% 0.43%, 95.53% 19.56%); }
      34.3750% { clip-path: polygon(97.72% 77.78%, 46.25% 99.89%, -1.47% 72.11%, 2.28% 22.22%, 53.75% 0.11%, 101.47% 27.89%); }
      37.5000% { clip-path: polygon(90.58% 85.36%, 35.15% 98.30%, -5.44% 62.94%, 9.42% 14.64%, 64.85% 1.70%, 105.44% 37.06%); }
      40.6250% { clip-path: polygon(81.88% 91.57%, 24.62% 94.84%, -7.27% 53.27%, 18.12% 8.43%, 75.38% 5.16%, 107.27% 46.73%); }
      43.7500% { clip-path: polygon(71.96% 96.19%, 15.06% 89.67%, -6.90% 43.47%, 28.04% 3.81%, 84.94% 10.33%, 106.90% 56.53%); }
      46.8750% { clip-path: polygon(61.20% 99.04%, 6.85% 82.97%, -4.35% 33.93%, 38.80% 0.96%, 93.15% 17.03%, 104.35% 66.07%); }
      50.0000% { clip-path: polygon(50.00% 100.00%, 0.30% 75.00%, 0.30% 25.00%, 50.00% 0.00%, 99.70% 25.00%, 99.70% 75.00%); }
      53.1250% { clip-path: polygon(38.80% 99.04%, -4.35% 66.07%, 6.85% 17.03%, 61.20% 0.96%, 104.35% 33.93%, 93.15% 82.97%); }
      56.2500% { clip-path: polygon(28.04% 96.19%, -6.90% 56.53%, 15.06% 10.33%, 71.96% 3.81%, 106.90% 43.47%, 84.94% 89.67%); }
      59.3750% { clip-path: polygon(18.12% 91.57%, -7.27% 46.73%, 24.62% 5.16%, 81.88% 8.43%, 107.27% 53.27%, 75.38% 94.84%); }
      62.5000% { clip-path: polygon(9.42% 85.36%, -5.44% 37.06%, 35.15% 1.70%, 90.58% 14.64%, 105.44% 62.94%, 64.85% 98.30%); }
      65.6250% { clip-path: polygon(2.28% 77.78%, -1.47% 27.89%, 46.25% 0.11%, 97.72% 22.22%, 101.47% 72.11%, 53.75% 99.89%); }
      68.7500% { clip-path: polygon(-3.02% 69.13%, 4.47% 19.56%, 57.49% 0.43%, 103.02% 30.87%, 95.53% 80.44%, 42.51% 99.57%); }
      71.8750% { clip-path: polygon(-6.29% 59.75%, 12.16% 12.41%, 68.45% 2.65%, 106.29% 40.25%, 87.84% 87.59%, 31.55% 97.35%); }
      75.0000% { clip-path: polygon(-7.39% 50.00%, 21.30% 6.70%, 78.70% 6.70%, 107.39% 50.00%, 78.70% 93.30%, 21.30% 93.30%); }
      78.1250% { clip-path: polygon(-6.29% 40.25%, 31.55% 2.65%, 87.84% 12.41%, 106.29% 59.75%, 68.45% 97.35%, 12.16% 87.59%); }
      81.2500% { clip-path: polygon(-3.02% 30.87%, 42.51% 0.43%, 95.53% 19.56%, 103.02% 69.13%, 57.49% 99.57%, 4.47% 80.44%); }
      84.3750% { clip-path: polygon(2.28% 22.22%, 53.75% 0.11%, 101.47% 27.89%, 97.72% 77.78%, 46.25% 99.89%, -1.47% 72.11%); }
      87.5000% { clip-path: polygon(9.42% 14.64%, 64.85% 1.70%, 105.44% 37.06%, 90.58% 85.36%, 35.15% 98.30%, -5.44% 62.94%); }
      90.6250% { clip-path: polygon(18.12% 8.43%, 75.38% 5.16%, 107.27% 46.73%, 81.88% 91.57%, 24.62% 94.84%, -7.27% 53.27%); }
      93.7500% { clip-path: polygon(28.04% 3.81%, 84.94% 10.33%, 106.90% 56.53%, 71.96% 96.19%, 15.06% 89.67%, -6.90% 43.47%); }
      96.8750% { clip-path: polygon(38.80% 0.96%, 93.15% 17.03%, 104.35% 66.07%, 61.20% 99.04%, 6.85% 82.97%, -4.35% 33.93%); }
    }
